.media-card {
    animation: 0.3s linear;
    display: grid;
    grid-template-rows: -webkit-min-content auto;
    grid-template-rows: min-content auto;
    position: relative;
    width: 185px;
}

.cover {
    background: rgba(221, 230, 238), 0.8;
    border-radius: 4px;
    box-shadow: 0 14px 30px rgba(103, 132, 187), 0.15,
        0 4px 4px rgba(103, 132, 187), 0.05;
    cursor: pointer;
    display: inline-block;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
}

.background-color.image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
}

.image-loaded {
    opacity: 1;
}
