.search-landing {
    margin-top: 30px;
}

.landing-section {
    margin-bottom: 50px;
}

.title-link {
    align-items: flex-end;
    display: flex;
    margin-bottom: 20px;
}
.title-link h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #516170;
}

.results {
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: space-between;
}

/* Responsividade */

@media (max-width: 1540px) {
    .results {
        grid-gap: 25px 20px;
    }
}

@media (min-width: 1540px) {
    .results {
        grid-gap: 25px 20px;
    }
}

@media (max-width: 1065px) {
    .results {
        grid-gap: 25px 14px;
    }
}

@media (max-with: 1040px) {
    .results {
        padding: 0 20px;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-gap: 25px 20px;
        justify-content: center;
    }
}

@media (max-width: 760px) {
    .results {
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
        grid-gap: 25px 20px;
    }
}

@media (max-width: 400px) {
    .results {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px 12px;
        padding: 0 10px;
    }
}
