.search {
    background: rgb(237, 241, 245);
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.filters-wrap {
    z-index: 700;
    align-items: center;
}

.filters {
    margin: 40px 0;
    margin-bottom: 25px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, 170px);
    justify-content: space-between;
}

.name {
    color: rgb(81, 97, 112);
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
}

.search-wrap {
    background: rgb(251, 251, 251);
    border-radius: 6px;
    box-shadow: 0 14px 30px rgb(103 132 187 / 10%),
        0 4px 4px rgb(103 132 187 / 4%);
    display: grid;
    font-size: 1.3rem;
    font-weight: 600;
    grid-gap: 10px;
    grid-template-columns: 13px auto 13px;
    letter-spacing: 0.03rem;
    padding: 11px 16px;
    padding-left: 13px;
}

.input-search {
    background: 0 0;
    border: none;
    color: rgb(116, 136, 153);
    display: inline-block;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}

.select-wrap {
    position: relative;
    width: 100%;
}

.select {
    align-items: center;
    background: rgb(251, 251, 251);
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(103, 132, 187, 0.1),
        0 4px 4px rgba(103, 132, 187, 0.04);
    display: grid;
    font-weight: 600;
    font-size: 13px;
    grid-template-columns: auto 20px;
    letter-spacing: 0.03rem;
    padding: 7px 16px 7px 13px;
}

.value-wrap {
    position: relative;
    max-height: 14px;
}

.placeholder {
    color: rgb(173, 192, 210);
    position: absolute;
}

::-webkit-input-placeholder {
    color: rgba(173, 192, 210);
}

.filter {
    border: none;
    display: inline-block;
    color: rgb(173, 192, 210);
    background: 0 0;
    width: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
}

::-webkit-input-search-placeholder {
    color: red;
}

.chevrondown {
    color: rgb(201, 215, 227);
    cursor: pointer;
}

/* Responsividade */

@media (max-width: 1540px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .results {
        grid-gap: 25px 20px;
    }
}

@media (min-width: 1040px) and (max-width: 1540px) {
    .container {
        max-width: 1140px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1540px) {
    .container {
        max-width: 1520px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .results {
        grid-gap: 25px 20px;
    }
}

@media (max-width: 1065px) {
    .results {
        grid-gap: 25px 14px;
    }
}

@media (max-width: 1040px) {
    .results {
        padding: 0 20px;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-gap: 25px 20px;
        justify-content: center;
    }
}

@media (max-width: 760px) {
    .results {
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
        grid-gap: 25px 20px;
    }
}

@media (max-width: 400px) {
    .results {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px 12px;
        padding: 0 10px;
    }
}

@media (min-width: 1540px) {
    .filters {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
